FEWSATS_API_KEY=

# For claudette demos
ANTHROPIC_API_KEY=

# only needed to run / compile nb 01
LIGHTSPARK_NODE_ID=
LIGHTSPARK_API_TOKEN_CLIENT_ID=
LIGHTSPARK_API_TOKEN_CLIENT_SECRET=
LIGHTSPARK_NODE_PASSWORD=

